.table {
    display: table;
}

.tHeader {
    display: table-header-group;
}

.hCell {
    display: table-cell;
}

#dev, #integration, #prelive, #prod {
    display: table-cell;
}

.projectGroup {
    background-color: burlywood;
}
.appGroups {

}

.app {
    background-color: dimgray;
}